<h1> <%= @message %> </h1>

<h2> Requested URLs  </h2>
  <div class="data">
    <% @source.urls.each do |url, count| %>
    <%= "#{count}: #{url}" %><br>
    <% end %>
  </div><br>
<h2> Web Browser Breakdown  </h2>
  <%= @source.web_browsers %>

<h2> OS Breakdown  </h2>
  <%= @source.os %>

<h2> Screen Resolution  </h2>

<h2> Average URL Response Time  </h2>
  <% @source.average_response_times.each do |k,v| %>
    <%= "#{k}: #{v}" %><br>
  <% end %>

<h2> Links to URL Stats </h2>

<h2> Links to Event Stats </h2>
