<h1> <%= @message %> </h1>

<h2> Requested URLs  </h2>
  <% @source.urls.each do |data, count| %>
    <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
  <% end %>

<h2> Web Browser Breakdown  </h2>
  <% @source.web_browsers.each do |data, count| %>
  <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
  <% end %>

<h2> OS Breakdown  </h2>
  <% @source.os.each do |data, count| %>
  <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
  <% end %>

<h2> Screen Resolution  </h2>
  <% @source.resolution.each do |data, count| %>
  <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
  <% end %>

<h2> Average URL Response Time  </h2>
  <% @source.average_response_times.each do |data,count| %>
  <%= erb :'partials/_print_list', locals: {data: data, count: count} %>
  <% end %>

<h2> Links to URL Stats </h2>
  <% @parsed_paths.each do |path| %>
    <a href='<%= "#{@source.identifier}/urls#{path}" %>' id=<%="#{path}_link"%>><%= "#{@source.identifier}/urls#{path}" %></a><br>
  <% end %>

<h2> Links to Event Stats </h2>
  <a href='<%= "#{@source.identifier}/events"%>' id="event_link">Event stats</a><br>
